html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.book-cover {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card {
    max-width: 300px; /* Stała szerokość karty */
    margin: 0 auto;
}

.card-body .book-description {
    max-width: 240px; 
    margin: 0 auto; 
    overflow-wrap: break-word; 
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
